/* Стилі для фону */
.background-container {
    position: relative;
    min-height: 100vh;
}

.background-container::before {
    content: "";
    background-image: url('../images/background.jpg');
    background-size: cover;
    opacity: 0.1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}
.navbar .nav-link.active {
    color: white !important;
    background-color: #0d6efd !important; /* Bootstrap синій */
    border-radius: 5px;
}
