<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>

<!-- Navigation bar -->
<nav th:fragment="navbar(showSignIn, targetUrl)" class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" th:href="@{/}" th:text="#{navbar.brand}">Travel Agency</a>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a th:href="@{/}"
                   th:class="'nav-link' + ((requestURI == contextPath or requestURI == contextPath + '/') ? ' active' : '')">
                    <i class="bi bi-house"></i>
                    <span th:text="#{navbar.home}">Home</span>
                </a>
            </li>

            <li class="nav-item">
                <a th:href="@{/user/dashboard}"
                th:class="'nav-link ' + (${#strings.startsWith(requestURI, contextPath + '/user/dashboard') ? 'active' : ''})" >
                    <i class="bi bi-search"></i>
                    <span th:text="#{navbar.vouchers}">Vouchers</span>
                </a>
            </li>
            <li class="nav-item" sec:authorize="hasRole('ADMIN') or hasRole('MANAGER')">
                <a th:href="@{/api/manager/vouchers}"
                   th:class="'nav-link ' + (${#strings.startsWith(requestURI, contextPath + '/api/manager/vouchers') ? 'active' : ''})" >
                    <i class="bi-person-circle"></i>
                    <span th:text="#{navbar.manager}">Manager</span>
                </a>
            </li>

            <li class="nav-item" sec:authorize="hasRole('ADMIN')">
                <a th:href="@{/api/admin/users}"
                   th:class="'nav-link ' + (${#strings.startsWith(requestURI, contextPath + '/api/admin/users') ? 'active' : ''})" >
                    <i class="bi-gear"></i>
                    <span th:text="#{navbar.admin}">Admin</span>
                </a>
            </li>

        </ul>
        <ul class="navbar-nav ml-auto">
            <!-- Language switcher -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                   data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="bi bi-translate"></i>
                    <span th:text="#{language}">Language</span>
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li>
                        <a class="dropdown-item"
                           th:href="@{${targetUrl}(lang=en)}"
                        th:text="#{language.english}">English</a>
                    </li>
                    <li>
                        <a class="dropdown-item"
                           th:href="@{${targetUrl}(lang=uk)}"
                           th:text="#{language.ukrainian}">Українська</a>
                    </li>
                </ul>

            </li>
            <li class="nav-item" sec:authorize="isAuthenticated()">
                <a class="nav-link" th:href="@{'/api/users/profile/' + ${username}}">
                    <i class="bi-person-circle"></i>
                    <span class="navbar-text" th:text="${username}"></span>
                </a>
            </li>

            <li class="nav-item" th:if="${username != null}">
                <a class="nav-link" th:href="@{/api/auth/logout}">
                    <i class="bi bi-box-arrow-right"></i>
                    <span th:text="#{navbar.signout}">Sign Out</span>
                </a>
            </li>

            <li class="nav-item" th:if="${username == null}">
                <a class="btn btn-outline-success" th:href="@{/auth/sign-in}">
                    <i class="bi bi-box-arrow-in-right"></i>
                    <span th:text="#{navbar.signin}">Sign In</span>
                </a>
            </li>
        </ul>
    </div>
</nav>

<!-- Фрагмент для повідомлень -->
<div th:fragment="messages(message)" class="alert alert-info" role="alert" th:if="${message}">
    <span th:text="${message}"></span>
</div>

</body>
</html>