<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Сторінка з фоном</title>
    <style>
        .container {
            position: relative;
            min-height: 100vh;
        }

        .container::before {
            content: "";
            background-image: url("/images/background.jpg");
            background-size: cover;
            opacity: 0.3;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: -1;
        }
    </style>
</head>
<body>
<div class="container">
  </div>
</body>
</html>